<h3>Sun or Fun</h3>
<p>Here is your reservation summary.</p>
<ul>
   <li>Name: {{name}}</li>
   <li>Flight number: {{flightnumber}}</li>
   <li>Class: {{class}}</li>
   <li>Meal: {{inflightmeal}}</li>
   <li>Pickup or Delivery: {{delivery}}</li>
</ul>